---
import Layout from "../layouts/Layout.astro";
const { data } = Astro.props;
---

<Layout>
  <main id="productContainer">
    <figure>
      <img src="https://kea-alt-del.dk/t7/images/webp/640/${productId}.webp" alt="Produktbillede" class="productImage" />
      <span class="saleLabel">Udsalg!</span>
    </figure>
    <section class="productDetails">
      <h2 class="productName">${data.productdisplayname}</h2>
      <div>
        <p class="articleType"><span class="bold">Type:</span> ${data.articletype}</p>
        <p class="productCategory"><span class="bold">Kategori:</span> ${data.category}</p>
        <p class="productPrice"><span class="bold">Pris:</span> ${data.price},-</p>
      </div>
      <button class="buyButton">Køb nu</button>
    </section>
  </main>
</Layout>
