---
const { id, navn, email, role, aktiv, img } = Astro.props;
---

<article class={role}>
  <div style=`background-image: url(${img});`></div>
  <a href={"single/" + id}>
    <h2>{navn}</h2>
  </a>
  <a href={"mailto:" + email}>{email}</a>
  <p>{role}</p>
  {aktiv && <p class="aktiv">AKTIV</p>}
</article>

<style>
  article {
    position: relative;
    padding: 1rem;
    p {
      color: purple;
    }
    div {
      width: 100%;
      aspect-ratio: 1;
      background-size: 100%;
      background-position: center;
      transition: 0.2s;
    }
    div:hover {
      background-size: 120%;
    }
  }
  .admin {
    background-color: #eed;
  }
  .user {
    background-color: #ede;
  }
  .reader {
    background-color: #dee;
  }
  .aktiv {
    position: absolute;
    top: 0;
    right: 0;
    rotate: 10deg;
    background-color: blueviolet;
    margin: 0;
    padding: 5px;
    color: white;
  }
  a {
    text-decoration: none;
  }
</style>
