---
const { product } = Astro.props;
const imagePath = `https://kea-alt-del.dk/t7/images/webp/640/${product.id}.webp`;
---

<a href={"single/" + product.id}>
  <article>
    <img src={imagePath} alt="product img" />
    <h2>{product.productdisplayname}</h2>
    <p>{product.articletype}</p>
    <p>{product.price} kr.</p>
    <p>{product.category}</p>
  </article>
</a>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
  article {
    padding: 1rem;
    background-color: antiquewhite;
  }
  img {
    max-width: 100%;
  }
</style>
